<div class="comment">

    <% if logged_in? && comment.author_id == current_user.id %>
        <div class="delete-resource-link">
            <a href="<%= article_comment_path(comment.id) %>" data-method="delete" data-confirm="Really delete this Comment?">
                <%= inline_svg_tag "trash_small" %>
            </a>
        </div>
    <% end %>

    <div class="body">
        <%= comment.body %>
    </div>
    
    <div class="info">
        Posted By:
        <% if logged_in? && Author.find(comment.author_id).id == current_user.id %>
            <%= link_to "Me", current_user %>
        <% else %>
            <%= link_to Author.find(comment.author_id).username, Author.find(comment.author_id) %>
        <% end %>
        <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago.
    </div>
</div>