<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
    <div class="form-field">
        <%= f.text_field :title, :placeholder => "Title..." %>
    </div>
    <div class="form-field">
        <%= f.text_area :body, :placeholder => "Content..." %>
    </div>
    <div class="form-field">
        <%= f.text_field :tag_list, :placeholder => "Tags..." %>
    </div>

    <% if @article.image.exists? %>
        <div class="article-image">
            <%= image_tag @article.image.url(:large) %>
        </div>
        <div class="label">
            <%= f.label :image, "Attach a New Image" %>
        </div>
    <% else %>
        <div class="label">
            <%= f.label :image, "Attach Image" %>
        </div>
    <% end %>

    <div class="upload-link">
        <%= f.file_field :image, class: "upload-link" %>
    </div>

    <div class="submit-button">
        <%= f.submit %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F2CC8F" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
            </svg>
    </div>
<% end %>