<%= form_for(@article, html: {multipart: true}) do |f| %>
    <div class="form-field">
        <%= f.text_field :title, :placeholder => "Title..." %>
    </div>
    <ul class="errors-container">
        <% @article.errors[:title].each do |error| %>
            <li><%= error.capitalize %></li>
        <% end %>
    </ul>
    <div class="form-field">
        <%= f.text_area :body, :placeholder => "Content..." %>
    </div>
    <div class="form-field">
        <%= f.text_field :tag_list, :placeholder => "Tags..." %>
    </div>

    <% if @article.image.exists? %>
        <div class="article-image">
            <%= image_tag @article.image.url(:standard) %>
        </div>
        <div class="image-upload-label">
            <%= f.label :image, "Attach a New Image" %>
        </div>
    <% else %>
        <div class="image-upload-label">
            <%= f.label :image, "Attach Image" %>
        </div>
    <% end %>

    <div class="upload-link">
        <%= f.file_field :image, class: "upload-link" %>
    </div>

    <div class="submit-button">
        <%= f.submit %>
        <%= inline_svg_tag "pencil.svg" %>
    </div>
<% end %>