<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back.svg" %>
    </a>
</div>

<% if logged_in? %>
    <div class="new-resource-link">
        <a href="<%= new_article_path %>">
            <%= inline_svg_tag "file_plus.svg" %>
        </a>
    </div>
<% end %>
<div class="title">
    <h1>All Articles</h1>
</div>

<table id="articles-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td class="small-resource-link"><%= link_to article.title, article %></td>
            <td class="small-resource-link no-mobile-link">
                <% author = Author.find(article.author_id) %>
                <% if logged_in? && current_user.id == author.id %>
                    <%= link_to "Me", author %>
                <% else%>
                    <%= link_to author.username, author %>
                <% end %>
            </td>
            <td class="small-resource-link no-mobile-link">
                <% if article.tags.length > 2 %>
                    <%= render partial: "articles/tag", collection: article.tags.first(2), :locals => { article: article } %>
                    and <%= article.tags.length - 2 %> more.
                <% else %>
                    <%= render partial: "articles/tag", collection: article.tags, :locals => { article: article } %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>