<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back" %>
    </a>
</div>

<% if logged_in? && current_user.id == @article.author_id %>
    <div class="delete-resource-link">
        <a href="<%= article_path %>" data-method="delete" data-confirm="Really delete this Article?">
            <%= inline_svg_tag "trash_large" %>
        </a>
    </div>

    <div class="edit-resource-link">
        <a href="<%= edit_article_path %>">
            <%= inline_svg_tag "edit" %>
        </a>
    </div>
<% end %>

<div class="title">
    <h1><%= @article.title %></h1>
</div>

<div class="article-image">
    <% if @article.image.exists? %>
        <%= image_tag(@article.image.url(:large)) %>
    <% end %>
</div>

<div class="body">
    <h4><%= @article.body %></h4>
</div>

<div class="info">
    <% if logged_in? && current_user.id == @article.author_id %>
        <h3>Posted By: <%= link_to "Me", current_user %></h3>
    <% else %>
        <% author = Author.find(@article.author_id) %>
        <h3>Posted By: <%= link_to author.username, author %></h3>
    <% end %>
</div>

<div class="subtitle">
    <h3>Tags</h3>
</div>

<div class="tag-link">
    <% if @article.tags.empty? %>
        <p class="info">This article has no tags.</p>
    <% else %>
        <%= render partial: "articles/tag", collection: @article.tags, :locals => { article: @article } %>
    <% end %>
</div>

<div class="title">
    <h2>Comments (<%= @article.comments.length %>)</h2>
</div>

<% if @article.comments.length > 0 %>
    <%= render partial: "articles/comment", collection: @article.comments %>
<% else %>
    <div class="info">
        <%= "No comments yet." %>
    </div>
<% end %>

<% if logged_in? %>
    <div class="embedded-form">
        <%= render partial: "comments/form" %>
    </div>
<% end %>