<%= form_with(model: author, local: true) do |form| %>
  <div class="form-field">
    <%= form.text_field :username, placeholder: "Username..." %>
  </div>
  <ul class="errors-container">
    <% author.errors[:username].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <div class="form-field">
    <%= form.text_field :email, placeholder: "Email..." %>
  </div>
  <ul class="errors-container">
    <% author.errors[:email].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <div class="form-field">
    <%= form.password_field :password, placeholder: "Password..." %>
  </div>
  <ul class="errors-container">
    <% author.errors[:password].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <div class="form-field">
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password..." %>
  </div>
  <ul class="errors-container">
    <% author.errors[:password_confirmation].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <div class="submit-button">
    <% if params[:action] == "edit" %>
      <%= form.submit "Update Details"%>
    <% else %>
      <%= form.submit "Create Author"%>
    <% end %>
    <%= inline_svg_tag "pencil.svg" %>
  </div>
<% end %>
