<div class="back-link">
    <a href="javascript:history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F2CC8F" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
        </svg>
    </a>
</div>

<% if logged_in? && current_user.id == @author.id %>
  <div class="edit-resource-link">
    <a href="<%= edit_author_path %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F2CC8F" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
        <line x1="16" y1="5" x2="19" y2="8" />
        </svg>
    </a>
  </div>
  <div class="delete-resource-link">
        <a href="<%= @author %>" data-method="delete" data-confirm="Really delete your Author?">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="7" x2="20" y2="7" />
            <line x1="10" y1="11" x2="10" y2="17" />
            <line x1="14" y1="11" x2="14" y2="17" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
        </a>
    </div>
<% end %>

<div class="author">
  <div class="title">
    <% if logged_in? && current_user.id == @author.id %>
      <h1>My Details</h1>
    <% else %>
      <h1>Details</h1>
    <% end %>
  </div>

  <h3 class="subtitle">Username:</h3>
  <div class="body">
    <p><%= @author.username %></p>
  </div>

  <h3 class="subtitle">Email:</h3>
  <div class="body">
    <%= @author.email %>
  </div>

  <div class="title">
    <% if logged_in? && current_user.id == @author.id %>
      <h1>My Articles</h1>
    <% else %>
      <h1>Articles by <%= @author.username %></h1>
    <% end %>
  </div>

  <table id="articles-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <% @author.articles.each do |article| %>
        <tr>
            <td class="table-link"><%= link_to article.title, article %></td>
            <td class="article-tags">
                <% if article.tags.length > 2 %>
                    <%= render partial: "articles/tag", collection: article.tags.first(2), :locals => { article: article } %>
                    and <%= article.tags.length - 2 %> more.
                <% else %>
                    <%= render partial: "articles/tag", collection: article.tags, :locals => { article: article } %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

</div>