<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back.svg" %>
    </a>
</div>

<% if logged_in? && current_user.id == @author.id %>
  <div class="delete-resource-link">
    <a href="<%= @author %>" data-method="delete" data-confirm="Really delete your Author?">
        <%= inline_svg_tag "trash_large.svg" %>
    </a>
  </div>
  <div class="edit-resource-link">
    <a href="<%= edit_author_path %>">
        <%= inline_svg_tag "edit.svg" %>
    </a>
  </div>
<% end %>

<div class="author">
  <div class="title">
    <% if logged_in? && current_user.id == @author.id %>
      <h1>My Details</h1>
    <% else %>
      <h1>Details</h1>
    <% end %>
  </div>

  <h3 class="subtitle">Username:</h3>
  <div class="body">
    <p><%= @author.username %></p>
  </div>

  <h3 class="subtitle">Email:</h3>
  <div class="body">
    <%= @author.email %>
  </div>

  <div class="title">
    <% if logged_in? && current_user.id == @author.id %>
      <h1>My Articles</h1>
    <% else %>
      <h1>Articles by <%= @author.username %></h1>
    <% end %>
  </div>

  <table id="articles-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <% @author.articles.each do |article| %>
        <tr>
            <td class="small-resource-link"><%= link_to article.title, article %></td>
            <td class="small-resource-link no-mobile-link">
                <% if article.tags.length > 2 %>
                    <%= render partial: "articles/tag", collection: article.tags.first(2), :locals => { article: article } %>
                    and <%= article.tags.length - 2 %> more.
                <% else %>
                    <%= render partial: "articles/tag", collection: article.tags, :locals => { article: article } %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

</div>