<!DOCTYPE html>
<html>
  <head>
    <title>Blogger2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>

      <nav>
        <ul>
          <!-- Standard Links -->
          <li class="navbar-link"><%= link_to "All Articles", articles_path %></li>
          <li class="navbar-link"><%= link_to "All Authors", authors_path %></li>
          <li class="navbar-link"><%= link_to "All Tags", tags_path %></li>
          <% if logged_in? %>
            <li class="logout-link"><%= link_to "Logout", logout_path %></li>
            <li class="navbar-link account-link"><%= link_to "My Account", current_user %></li>
          <% else %>
            <li class="login-link"><%= link_to "Login", login_path %></li>
            <li class="navbar-link account-link"><%= link_to "Create Account", new_author_path %></li>
          <% end %>
          <!-- Mobile Links -->
          <li class="mobile-articles-link">
            <a href="<%= articles_path %>">
              <%= inline_svg_tag "news.svg" %>
            </a>
          </li>
          <li class="mobile-authors-link">
            <a href="<%= authors_path %>">
              <%= inline_svg_tag "users.svg" %>
            </a>
          </li>
          <li class="mobile-tags-link">
            <a href="<%= tags_path %>">
            <%= inline_svg_tag "tag.svg" %>
            </a>
          </li>
          <% if logged_in? %>
            <li class="mobile-logout-link">
                <a href="<%= logout_path %>">
                  <%= inline_svg_tag "logout.svg" %>
                </a>
            </li>
            <li class="mobile-account-link">
              <a href="<%= author_path(current_user) %>">
                <%= inline_svg_tag "user.svg" %>
              </a>
            </li>
          <% else %>
            <li class="mobile-login-link">
              <a href="<%= login_path %>">
                <%= inline_svg_tag "login.svg" %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>

    </header>
    <% if flash[:success] %>
      <p class="flash flash-success">
        <%= flash[:success] %>
      </p>
    <% end %>

    <% if flash[:error] %>
      <p class="flash flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
